In [3]:
import pandas as pd
import hana_ml
from hana_ml import dataframe
from hana_ml.dataframe import create_dataframe_from_pandas
print("HANA ML version:", hana_ml.__version__)

HANA ML version: 2.17.23061500

In [4]:

host = ''
port = 
user = ''
conn= dataframe.ConnectionContext(address=host, port=port, user=user, 
                               encrypt='true' ,sslValidateCertificate='false')
conn.hana_version()

'4.00.000.00.1684836416 (fa/CE2023.4)'

In [9]:
#### Load the required files

In [12]:
# retrive hana dataframes from CSV files
data_pd = pd.read_csv('./datasets/POINTS_OF_SALES.csv', sep=';')
# create hana dataframe from stadions pandas dataframe
data_pd_hdf = create_dataframe_from_pandas(
        conn,
        data_pd,
        schema='DEMO_USER',
        table_name="POINTS_OF_SALES",
        force=True,
        replace=True,
        drop_exist_tab=True
    )

100%|██████████| 1/1 [00:00<00:00, 13.32it/s]

In [14]:
# retrive hana dataframes from CSV files
data_pd = pd.read_csv('./datasets/PRICE_HISTORY_V.csv', sep=',')
# create hana dataframe from stadions pandas dataframe
data_pd_hdf = create_dataframe_from_pandas(
        conn,
        data_pd,
        schema='DEMO_USER',
        table_name="PRICE_HISTORY_V",
        force=True,
        replace=True,
        drop_exist_tab=True
    )

100%|██████████| 3/3 [00:09<00:00,  3.07s/it]

In [7]:
# retrive hana dataframes from CSV files
train_rnk_pd = pd.read_csv('./datasets/TRAIN_RNK_2209.csv', sep=',')
# create hana dataframe from stadions pandas dataframe
train_rnk_hdf = create_dataframe_from_pandas(
        conn,
        train_rnk_pd,
        schema='DEMO_USER',
        table_name="TRAIN_RNK_2209",
        force=True,
        replace=True,
        drop_exist_tab=True
    )

100%|██████████| 8/8 [00:28<00:00,  3.50s/it]

In [8]:
# retrive hana dataframes from CSV files
test_rnk_pd = pd.read_csv('./datasets/TEST_RNK_2209.csv', sep=',')
# create hana dataframe from stadions pandas dataframe
test_rnk_hdf = create_dataframe_from_pandas(
        conn,
        test_rnk_pd,
        schema='TECHED22',
        table_name="TEST_RNK_2209",
        force=True,
        replace=True,
        drop_exist_tab=True
    )

100%|██████████| 1/1 [00:01<00:00,  1.30s/it]

In [15]:
##DROP TABLE "TECHED22"."PAL_ADDITIVE_MODEL_ANALYSIS_HOLIDAY";
###CREATE COLUMN TABLE "TECHED22"."PAL_ADDITIVE_MODEL_ANALYSIS_HOLIDAY" ("GROUP_IDXXX" INTEGER, "ts" TIMESTAMP, "NAME" VARCHAR(255), "LOWER_WINDOW" INTEGER, "UPPER_WINDOW" INTEGER);
# retrive hana dataframes from CSV files
data_pd = pd.read_csv('./datasets/PAL_ADDITIVE_MODEL_ANALYSIS_HOLIDAY.csv', sep=',')
# create hana dataframe from stadions pandas dataframe
data_hdf = create_dataframe_from_pandas(
        conn,
        data_pd,
        schema='DEMO_USER',
        table_name="PAL_ADDITIVE_MODEL_ANALYSIS_HOLIDAY",
        force=True,
        replace=True,
        drop_exist_tab=True
    )