# Python HANA ML APL

<div class="alert alert-block alert-info">
<b>Comparing to a Reference dataset which statistics are already there</b> <br>
</div>

In [1]:
from hana_ml import dataframe as hd
conn = hd.ConnectionContext(userkey='MLMDA_KEY')    
conn.connection.isconnected()

True

### Create an HANA Dataframe

In [2]:
## Dataset for comparison
sql_cmd =  """ 
select "age", "occupation", "workclass", "education", "relationship" 
from APL_SAMPLES.CENSUS 
where "sex" = 'Female' 
order by "id" 
"""
hdf_new= hd.DataFrame(conn, sql_cmd)
hdf_new.head(3).collect()

   age       occupation workclass  education   relationship
0   28   Prof-specialty   Private  Bachelors           Wife
1   37  Exec-managerial   Private    Masters           Wife
2   49    Other-service   Private        9th  Not-in-family

### Load Drift Model

In [3]:
from hana_ml.model_storage import ModelStorage
model_storage = ModelStorage(connection_context=conn, schema='USER_APL')
apl_model = model_storage.load_model(name='Drift Model')

### Detect Drift with APL

In [4]:
results = apl_model.detect(hdf_new, threshold=0.5, build_report=True)
print(results.collect())

       Variable  Deviation Indicator
0    occupation                1.000
1  relationship                1.000
2     workclass                1.000
3           age                0.986
4     education                0.764

In [5]:
df = apl_model.get_debrief_report('Deviation_CategoryFrequencies').deselect('Oid').collect()
format_dict = {
    'Ref Weight': '{:,.0f}', 'New Weight': '{:,.0f}', 'Change': '{:,.0f}', 
    'Ref % Weight': '{:.1f}', 'New % Weight': '{:.1f}', '% Change': '{:.1f}', 'Abs % Change': '{:.1f}'
}
df.style.format(format_dict).hide(axis='index')

In [6]:
apl_model.generate_html_report('drift_report')